.App {
  text-align: center;
}

.App-logo {
  animation: example infinite 8s ease-in-out, App-logo-spin infinite 20s linear;
  /* animation-direction: reverse; */
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes example {
    0% {background-color: #af4dff;}
    50% {background-color: #68dd3d;}
    100% {background-color: #af4dff;}
}
